<% layout('layouts/boilerplate') %>
    <h1>
        <%= plasmaLink.name %>
    </h1>
    <h2>
        <%= plasmaLink.location %>
    </h2>
    <h2>
        Submitted by <%= plasmaLink.author.username %>
    </h2>
    <% if(currentUser && plasmaLink.author.equals(currentUser._id)){ %>
        <div>
            <p>
                <a href="/plasmaLinks/<%= plasmaLink._id %>/edit">Edit</a>
            </p>
            <p>
            <form action="/plasmaLinks/<%= plasmaLink._id %>?_method=DELETE" method="POST">
                <button>DELETE</button>
            </form>
        </div>
     <% } %>
            </p>
            <footer>
                </form>
                <a href="/plasmaLinks">All Datas</a>
            </footer>